.user__options__modal {
	position: absolute;
	right: 0;
	max-height: 80vh;
	height: auto;
	overflow-y: auto;
	top: calc(100% + .5rem);
	background-color: #393939;
	border-radius: 0.5rem;

	box-shadow: 0 1rem 1.5rem #1c1c1cb9;

	a {
		text-decoration: none;
	}

	.label {
		text-decoration: none;
		color: #484848;
		font-size: 0.9rem;

		// font-weight: 600;
	}



	.block__option {
		padding: 0.8rem 1rem;
		gap: 0.8rem;
	}

	.user__details {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: .6rem;
		padding: 1rem 1.9rem .6rem 1rem;

		.user__name {
			font-weight: 700;
			font-size: 0.9rem;
			color: #e3e3e3;
		}

		.user__email {
			color: grey;
			font-size: .8rem;
		}

		span {
			$size: 2.2rem;
			background-color: #cfe5fb;
			color: #175e9d;
			font-weight: 500;
			border-radius: 50%;
			width: $size;
			height: $size;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.option {
		display: flex;
		align-items: center;
		gap: .6rem;
		margin: 0 0 0;
		cursor: pointer;
		padding: .7rem 1rem;
		
		&:hover {
			background-color: #5f5f5f;
		}

		img {
			filter: invert(1);
			width: 1.3rem;
		}
		
		p {
			color: #eeeeee;
			font-size: .9rem;
		}
	}
	.logout {
		border-top: 1px solid #2a2a2a;

		&:hover {
			background-color: #575757;
		}
		p {
			color: red;
		}

		img {
			filter: invert(23%) sepia(96%) saturate(7435%) hue-rotate(358deg)
				brightness(106%) contrast(111%);
				width: 1.3rem;
		}
	}


}

@media screen and (max-width:900px) {
	.user__options__modal {
		right: unset;
	}
}