.order__date {
   font-size: 1rem;
   color: #5395f1;
   font-weight: bold;

}

.sell__btn {
  background-color: #5395f1;
  border: none;
  color: white;
  font-weight: bold;
  padding: .65rem 1.4rem;
  border-radius: .4rem;
}