.collection__section {
	padding: 0 2rem;
	margin: 0rem 0 4rem;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 2.8rem;
		margin-bottom: 1rem;

		div {
			display: flex;
			align-items: center;
			gap: 0.3rem;

			h2 {
				font-family: 'krona';
				font-size: 1.2rem;
				text-transform: uppercase;
				color: whitesmoke;
			}
		}

		a {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 0.2rem;
			color: #278cff;
			font-weight: 600;
			font-size: .8rem;

			img {
				filter: invert(48%) sepia(72%) saturate(3688%) hue-rotate(196deg) brightness(101%) contrast(101%);
			}
		}

		img {
			filter: invert(1) brightness(200);
		}

		.collection__icon {
			width: 1.9rem;
		}
		.arrow__icon {
			width: 1.4rem;
		}
	}

	.carousel {
		display: flex;
		align-items: center;
		height: 22rem;
		gap: 0.4rem;
		justify-content: space-between;

		& > button {
			width: 2.2rem;
			height: 100%;
			background-color: #2b2f30;
			border: none;

			&.left__btn {
				transform: rotate(-180deg);
				// opacity: 0;
				// pointer-events: none;
			}

			img {
				filter: invert(0.6);
				width: 100%;
			}
		}

		.cards__container {
			overflow: hidden;
			flex: 1;
			height: 100%;
		}

		.cards__wrapper {
			display: flex;
			align-items: center;
			width: fit-content;
			height: 100%;
			transition: transform .5s ease ;
		}
	}
}

@media screen and (max-width: 900px) {
	.collection__section {
		padding: 0 1rem;


		header {
			padding-left: 1rem;
			div {
				h2 {
					font-size: 0.9rem;
				}
			}

			a {
				font-weight: 400;
				font-size: 0.8rem;
			}
			.collection__icon {
				width: 1.5rem;
			}
		}
		.carousel {
			& > button {
				display: none;
			}
			.cards__container {
				overflow-x: scroll;
			}
			.cards__wrapper {
			  padding-left: 1rem;
			}
		}
	}
}
