.cart__item {
	display: grid;
	grid-template-columns: 35% 20% 30% 15%;
	height: 6.5rem;
   align-items: center;
	width: 100%;
   column-gap: .2rem;
	padding: 0.2rem 0.5rem;
	margin-bottom: 0.1rem;
   background-color: #2b2f30;


	.skin {
		height: 100%;
		display: flex;
		align-items: center;
		gap: 1rem;
		width: 100%;
      padding: .4rem 0;

		& > img {
			width: 7.5rem;
		}
		& > div {
         h2 {
            font-family: "krona";
            font-size: 1rem;
            color: whitesmoke;
         }
			& > div {
            display: flex;
				align-items: center;
            margin-top: .4rem;
            
				img {
               width: 1.4rem;
				}

				p {
					font-size: 0.9rem;
					color: #69bf7e;
				}
			}
		}
	}
   .category {
     font-family: "krona";
     text-transform: capitalize;
     color: whitesmoke;
   }
   .price {
      h2 {
         font-family: "krona";
         font-size: 1.2rem;
         color: white;
         font-weight: 500;
      }
      span {
         background: linear-gradient(135deg,#0073d5,#fa490a);
         border-radius: 3px;
         display: inline-block;
         position: relative;
         bottom: .2rem;
         left: .4rem;
         padding: .1rem .7rem .2rem;
         font-size: .7rem;
         transform: skewX(-15deg);
         color: white;
      }
      p {
         font-size: .9rem;
         color: gray;

      }
   }

   .delete__btn {
      $size: 2rem;
      width: $size;
      height: $size;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .15rem;
      border: none;
      background-color: #e64444;

      img {
         width: 100%;
         filter: invert(1) brightness(200);
      }
   }
}

@media screen and (max-width: 900px) {
   .cart__item {
      grid-template-columns: 55% 30% 7%;
      
      
      .skin {
         gap: .2rem;

         & > img {
            width: 5rem;
         }
         & > div {
            h2 {
               font-size: .8rem;
            }
            & > div {
               img {
                  width: .9rem;
               }
               p {
                  font-size: .7rem;
               }
            }
         }
      }
      .category {
        display: none;
      }
      .price {
         h2 {
            text-align: center;
            font-size: .9rem;
         }
        span {
         display: none;
        }
        p {
         display: none;
        }
      }
      
      .delete__btn {
         margin-left: auto;
      }
   }
}